# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip
.env

**.DS_Store

# VS Code settings
**/.vscode

**.pyc
**__pycache__

# Jupyter Notebook
.ipynb_checkpoints

**/__debug*

# Airflow Logs Directory
logs/**
!logs/readme.md

# Ignore virtual environment
venv
.venv